:root
{
    --width-end : 300px;
    --width-start : 50px;
    --height : 50px;
    --time : 0.25s;
    --mode: ease-in-out;
    --color : #000;
    --background: #fff;
    --over: #f00;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html
{
    width: 100%;
    height: 100%;
}

p
{
    margin: 0;
    padding: 0;
}

.icon
{
    width: var(--width-start);
    height: var(--height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.sidebar
{
    position: absolute;
    width: var(--width-end);
    height: 100%;
    top: 0;
    left: calc(-1 * var(--width-end) + var(--width-start));
    background-color: var(--background);
    transition: all var(--time) var(--mode);
}

.sidebar:hover
{
    left: 0;
}

.sidebar:hover ~ .content
{
    left: var(--width-end);
    width: calc(100% - var(--width-end));
}

.sidebar a:hover
{
    background-color: var(--over);
    color: var(--background);
}

.sidebar a
{
    display: flex;
    justify-content: right;
    align-items: center;
    text-decoration: none;
    transition: all var(--time) var(--mode);
    color: var(--color);
}

.content
{
    top: 0;
    position: absolute;
    left: var(--width-start);
    background: url(../images/image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: calc(100% - var(--width-start));
    height: 100%;
    transition: all var(--time) var(--mode);
    z-index: -1;
}